/*style sheet for GarrowPhotography (index)*/

#screen	{
	position: absolute;
	width: 100%;
}

/*Main Body*/
main	{}

#banner	{
	height: 40rem;
	background-color: pink;
}

#aboutMe	{
	height: 20rem;
	background-color: red;
}

#contact	{
}
