/*style sheet for GarrowPhotography (portfolio)*/

/*Header*/


/*Main*/
main	{
	width: 95%;
}

#gallery	{
	display: flex;
		justify-content: space-around;
		flex-direction: row;
		flex-wrap: wrap;
}

.pic	{
	width: 28%;
	margin: 1.5rem;
	border: navy solid 10px;
	background-color: #000;
}

img	{
	display: block;
	width: 100%;
}