/*style sheet for GarrowPhotography (portfolio)*/

/*Header*/


/*Main*/
main	{
	width: 95%;
	top: 10rem;
}

#gallery	{
	display: flex;
		justify-content: space-around;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
}

.port-pic	{
	width: 28%;
	margin: 1.5rem;
	border: navy solid 10px;
	background-color: #000;
	opacity: .85;
	transition: opacity 0.5s;
}

.port-pic:hover	{
	opacity: 1;
}

@media only screen and (max-width: 1375px)	{
	.port-pic	{
		width: 40%;
	}
}

footer	{
	top: 12rem;
}